################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/rest-api/.vs/rest-api
/rest-api/bin/Debug/netcoreapp3.1
/rest-api/obj
